

.home-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background:rgb(21, 18, 18);
  color: #f1f1f1;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 80px;
  width: 80%;
  padding: 20px;
  opacity: 0.8;
}

.menu-bar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.menu-bar .username {
  margin-right: auto;
}

.logout-button , .btn-list {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
}

.logout-button:hover {
  background-color: #e03e3e;
}

.form-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-top: 0;
  -webkit-text-stroke: 1px red;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.radio-group,
.checkbox-group {
  display: flex;
  flex-direction: row;

}


.submit-button{
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.submit-button:hover {
  background-color: #45a049;
}

.message {
  margin-top: 15px;
  color: #d9534f;
}

@media (max-width: 480px) {
  /* Adjust layout for mobile phones */
  .home-container {
    padding: 10px;
  }

  .menu-bar {
    flex-direction: column;
    align-items: center;
  }

  .menu-bar a {
    margin-bottom: 10px;
  }

  .logout-button {
    width: 100%;
    margin-top: 15px;
  }

  .form-group input,
  .form-group select {
    width: 100%;
    padding: 12px;
  }

  .form-container {
    padding: 10px;
  }
}
