body{
  height: 100vh;
  width: 100vw;
}
.app-container{
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.img-logo{
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
}


